// COLORS

$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);
$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);
$tomato: hsl(4, 100%, 67%);
$darkSlateGrey: hsl(234, 29%, 20%);
$charcoalGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// FONTS

$fontSize: 16px;
$fontSm: 0.875rem; // 14px
$fontMed: 1.125rem; // 18px

// PADDING

$padding: 1.5625rem;
$marginTop: 1.875rem;
